header{
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 2;
  nav{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      width: 6rem;
      height: 2rem;
      background: rgb(0, 0, 0);
    }
    .search input{
      border-radius: 50px;
      outline: none;
      border: 1px solid #ccc;
      width: 20rem;
      height: 2rem;
      background: #ddd;
    }
    .menu{
      display: flex;
      .menu-item{
        width: 5rem;
        height: 2rem;
        background: #000;
        margin-left: 15px;
      }
    }
  }
  
}


#slider {
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      font-size: 5rem;
      color: #ccc;
    }
    @include breakpoint($small) {
      margin-top: 3rem;
      width: 100%;
      min-height: 40vw;
      background-image: url('~/assets/images/photo-1445964047600-cdbdb873673d.jpg');
      background-size: cover;
      background-position: center;
    }
  
    @include breakpoint($medium) {
      background-image: url('~/assets/images/photo-1464457312035-3d7d0e0c058e.jpg')
    }
  
    @include breakpoint($large) {
      background-image: url('~/assets/images/photo-1525800890330-3be36a1dc846.jpg')
     
    }
  
    @include breakpoint($x-large) {
      background-image: url('~/assets/images/photo-1441422454217-519d3ee81350.jpg')
    }
  }
  #gallery{
    margin-top: 3rem;
    img{
      margin-top: 1.75rem;
      cursor: zoom-in;
    }
  }
  #zoom{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background: rgba(150, 144, 144, 0.815);
    display: none;
    z-index: 999;
    cursor: zoom-out;
    .zoom-container{
      background: #fff;
      padding: 5% 20%;
      cursor: zoom-in;
    }
    .header{
      width: 100%;
      height: 3rem;
      top: 0;
      background: rgb(49, 224, 255);
      position: sticky;
    }
    .related_images{
      background: #fff;
      h1{
        font-size: 1.75rem;
        text-align-last: center;
        margin-bottom: 2rem;
      }
      .__images{
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
        .__image{
          @include breakpoint($small){
            max-width: 80px;
            margin: 0.5rem 0;
          }
          @include breakpoint($medium){
            max-width: 170px;
            margin: 0.75rem 0;
          }
          @include breakpoint($large){
            max-width: 250px;
            margin: 1rem 0;
          }
        }
      }
    }
  }