header{
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 2;
  box-shadow: 2px 2px 5px #ddd;
  nav{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      font-size: 2rem;
      font-weight: bold;
    }
    #search__bar{
      width: 18rem;
      height: 2rem;
      display: flex;
      button{
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        border-bottom: 1px solid;
      }
    }
    input{
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      // color: salmon;
      border-bottom: 1px solid;
      background: none;
    }
    @include breakpoint($small) {
      .logo, input, button{
        color: salmon;
        border-color: salmon;
      }
    }
  
    @include breakpoint($medium) {
      .logo, input, button{
        color: salmon;
        border-color: salmon;
      }
      
    }
  
    @include breakpoint($large) {
       .logo, input, button{
        color: #1c1f24;
        border-color: #1c1f24;
      }
    }
  
    @include breakpoint($x-large) {
      .logo, input, button{
        color: olivedrab;
        border-color: olivedrab;
      }   
    }
  }
  
}


#slider {
    position: relative;
    display: flex;
    margin-top: 3rem;
    width: 100%;
    min-height: 40vw;
    justify-content: center;
    align-items: center;
    background-image: url('~/assets/images/photo-1441422454217-519d3ee81350.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: background 0.5s;
    #fade-out{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      position: absolute;
      opacity: 0;
    }
    h1{
      font-size: 5rem;
      color: #ccc;
    }
  }
  #gallery{
    margin-top: 3rem;
    img{
      margin-top: 1.75rem;
      cursor: zoom-in;
    }
  }
  #zoom{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background: rgba(150, 144, 144, 0.815);
    display: none;
    z-index: 999;
    cursor: zoom-out;
    .zoom-container{
      background: #fff;
      padding: 5% 20%;
      cursor: zoom-in;
    }
    .header{
      width: 100%;
      height: 3rem;
      top: 0;
      background: rgb(49, 224, 255);
      position: sticky;
    }
    .related_images{
      background: #fff;
      h1{
        font-size: 1.75rem;
        text-align-last: center;
        margin-bottom: 2rem;
      }
      .__images{
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
        .__image{
          @include breakpoint($small){
            max-width: 80px;
            margin: 0.5rem 0;
          }
          @include breakpoint($medium){
            max-width: 170px;
            margin: 0.75rem 0;
          }
          @include breakpoint($large){
            max-width: 250px;
            margin: 1rem 0;
          }
        }
      }
    }
  }