//- extends main layout
extends layout
//- bolck for the body
block main
    //- include all partials
    include ./includes/head.pug
    include ./includes/slider.pug
    include ./includes/gallery.pug
    include ./includes/zoom_in.pug
    include ./includes/search_result.pug