header
    .container-fluid
        nav
            .logo
            .search
                input(type="text")
            .menu
                -for(i = 0; i < 4; i++)
                    .menu-item