#search__results
    .close
        img(src="assets/images/if_close_1282956.svg", alt="")
    .container-fluid
        .row
            .col#s_grid_1
            .col#s_grid_2
            .col#s_grid_3
            .col#s_grid_4
