#zoom
    //- .container
    //-     .header
    //-     .zoom-container
    //-         img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-     .related_images
    //-         h1 Related Images
    //-         .container
    //-             .__images
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-                 .__image
    //-                     img(src="assets/images/photo-1525800890330-3be36a1dc846.jpg", alt="")
    //-     .foot