#zoom__slider
    #slider__container

    #slider__control
        .prev
            img(src="assets/images/if_arrow-left-01_186410.svg", alt="")
        
        .slideshow
            .play
                img(src="assets/images/if_FEZ-02_196914.svg", alt="")
            .pause
                img(src="assets/images/if_pause_118628.svg", alt="")
        .next
            img(src="assets/images/if_arrow-right-01_186409.svg", alt="")
        .slider__close
            img(src="assets/images/if_remove-01_186389.svg", alt="")
            
